$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

html, body {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px;
}

#push, #footer {
    height: 30px;
}

#footer {
    background-color: #f5f5f5;
    line-height: 30px;
}

.sidebar {
    background-color: #CCCCCC;
    transition: all 200ms linear;

    &.hide {
        width: 0;
        height: 0;
    }

    a {
        text-decoration: none;
        cursor: pointer;

        &.selected {
            border-bottom: 1px solid #DADADA;
        }
    }
}

.chart {
    .header {
        height: 30px;
        margin: 20px 0;
        border-bottom: 1px solid #FAFAFA;
    }
}

.code {
    transition: all 200ms linear;
    
    .editor {
        width: 100%;
        height: 400px;
    }
}

.visual {
    transition: all 200ms linear;
}

#scxmlTrace {
    width: 100%;
    height: 400px;
}










g.cell rect {
  fill: white;
  stroke: black;
}

text {
  font: 10px sans-serif;
}

path.transition,path.reverseTransition {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}

g.orthogonalComponent rect {
    stroke-dasharray : 0.25em 0.25em; 
}

g.history rect {
    fill : #3399FF; 
}

g.initial rect {
    stroke : #CC0099;
}

g.highlighted rect {
    stroke : #66FF33;
}




















/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  
}
