<div class="main-row row">
  <div id="dashboardStats"></div>

  <h4>Instances</h4>

  <table class="table table-striped">
    <tr>
      <th>id</th>
      <th>state</th>
      <th>datamodel</th>
    </tr>

    <tr ng-repeat="instance in instances">
      <td>{{ instance.id }}</td>
      <td>{{ instance.state }}</td>
      <td>{{ instance.datamodel }}</td>
    </tr>
  </table>

  <h4>Event log</h4>

  <table class="table table-striped">
    <tr>
      <th>instance</th>
      <th>name</th>
      <th>origin</th>
      <th>target</th>
      <th>data</th>
      <th>timestamp</th>
    </tr>

    <tr ng-repeat="event in events">
      <td>{{ event.instance }}</td>
      <td>{{ event.name }}</td>
      <td>{{ event.origin }}</td>
      <td>{{ event.target }}</td>
      <td>{{ event.data }}</td>
      <td>{{ event.timestamp }}</td>
    </tr>
  </table>
</div>
