<div class="charts list">
    <h4>{{Session.username}}'s Statecharts</h4>
    <div ng-hide="stateCharts">
        Create a new Statechart
    </div>
    <div ng-show="stateCharts">
        <ul>
            <li class="new">
                <a ng-click="createStatechart()" title="Create new Statechart">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <a ng-click="createStatechart()" title="Create new Statechart">
                    New Statechart
                </a>
            </li>
            <li ng-repeat="chart in stateCharts" ng-class="chart.name === stateChart.name ? 'selected' : ''">
                <a ng-click="deleteStateChart(chart)" title="Delete Statechart {{chart.name}}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a ui-sref="main.chartdetail({chartName:chart.name})">{{chart.name}}</a>
            </li>
        </ul>
    </div>
</div>