<div class="row">
    <div ng-hide="scDefinitions" class="text-center col-md-12">
        <p>Loading StateChart definitions</p>
    </div>
    <div ng-class="scDefinitions ? '' : 'hide'" class="sidebar hide col-md-3">
        <h4>{{Session.username}}'s StateChart definitions</h4>
        <ul>
            <li ng-repeat="definition in scDefinitions">
                <a href="#/def:{{definition.id}}">{{definition.name}}</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        All content
    </div>
</div>