<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form role="form" name="register" ng-submit="doRegister(inputUsername,inputPassword)">
      <div class="form-group">
        <label for="inputUsername">Username</label>
        <input class="form-control" id="inputUsername" ng-model="inputUsername" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" ng-model="inputPassword" placeholder="Password">
      </div>
      <a href="#login" class="btn btn-default">Login</a>
      <button type="submit" class="btn btn-primary pull-right">Register</button>
    </form>
  </div>
</div>
